# Rust
vacinometro-rust/target

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
htmlcov/
.coverage
.coverage.*
.pytest_cache/
.venv
venv

# Dart

## Files and directories created by pub.
.dart_tool/
.packages

## Conventional directory for build output.
build/

# Misc
.idea
.vscode

.DS_Store
.AppleDouble
.LSOverride
._*